@font-face {
	font-family: Goldman;
	src: url('../fonts/Goldman-Bold.ttf');
}

.label {
	-fx-font-family: Goldman;
	-fx-font-size:50pt;
} 
.button {
	-fx-font-family: Goldman;
	-fx-background-color: floralwhite;
	-fx-font-size: 12pt;
	-fx-min-width: 3;
	-fx-min-height:10;
}